{% load static %}
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <div class="row align-items-center">
                        <div class="col">
                            <li class="nav-item">
                                <a href="tel:+71231111111">
                                    <img src="{% static 'images/phone.png' %}" class="rounded img-fluid">
                                </a>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item">
                                <a href="mailto:danil.ceregin@bk.ru">
                                    <img src="{% static 'images/mail.png' %}" class="rounded img-fluid">
                                </a>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item">
                                <a class="nav-link active" style="font-size: 2vmin;" aria-current="page" href="{% url 'home' %}"
                                >Домой</a>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="font-size: 2vmin;" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false"
                                   style="text-decoration: none;color: white;">
                                    Услуги
                                </a>
                                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'prombez' %}"
                                           style="text-decoration: none;color: white;font-size: 2vmin;">Промышленная безопасность</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'ates' %}"
                                           style="text-decoration: none;color: white;font-size: 2vmin;">Аттестация производственных
                                        объектов по условиям труда</a></li>
                                    <li><a class="dropdown-item" href="{% url 'ispyt' %}"
                                           style="text-decoration: none;color: white;font-size: 2vmin;">Испытание продукции и СИЗ</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'sootvet' %}"
                                           style="text-decoration: none;color: white;font-size: 2vmin;">Подтверждение соответствия
                                        продукции</a></li>
                                    <li><a class="dropdown-item" href="{% url 'iso' %}"
                                           style="text-decoration: none;color: white;font-size: 2vmin;">ISO</a></li>
                                    <li><a class="dropdown-item" href="{% url 'rad' %}"
                                           style="text-decoration: none;color: white;font-size: 2vmin;">Контроль радиационной обстановки
                                        и радиологические исследования</a></li>
                                    <li><a class="dropdown-item" href="{% url 'center' %}"
                                           style="text-decoration: none;color: white;font-size: 2vmin;">Испытательный Центр</a></li>
                                </ul>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item">
                                <a class="nav-link active" style="font-size: 2vmin;" href="{% url 'docs' %}"
                                >Документы</a>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item">
                                <a class="nav-link active" style="font-size: 2vmin;" href="{% url 'questions' %}"
                                >Вопросы</a>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item ">
                                <a class="nav-link active" style="font-size: 2vmin;" href="{% url 'contact' %}"
                                >Контакты</a>
                            </li>
                        </div>
                        <div class="col-3">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="10%" height="10%" fill="currentColor"
                                     class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                                <a href="tel:+71231111111" style="text-decoration: none;color: white;font-size: 2vmin;">+7 (123) 111-11-11</a>
                            </li>
                        </div>
                        <!--<li class="nav-item">
                            <a href="tel:+71231111111">
                                <img src="{% static 'images/phone.png' %}" style="width: 100%; position: relative;max-width: 60px;" class="rounded">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="mailto:vlad@htmlbook.ru">
                                <img src="{% static 'images/mail.png' %}" style="width: 100%; position: relative;max-width: 60px;" class="rounded">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="font-size: 18pt;">Домой</a>
                        </li>
                        <li class="nav-item dropdown" style="font-size: 18pt;margin-left: 50px;">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 18pt;text-decoration: none;color: white;">
                                Услуги
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'prombez' %}" style="text-decoration: none;color: white;">Промышленная безопасность</a></li>
                                <li><a class="dropdown-item" href="{% url 'ates' %}" style="text-decoration: none;color: white;">Аттестация производственных объектов по условиям труда</a></li>
                                <li><a class="dropdown-item" href="{% url 'ispyt' %}" style="text-decoration: none;color: white;">Испытание продукции и СИЗ</a></li>
                                <li><a class="dropdown-item" href="{% url 'sootvet' %}" style="text-decoration: none;color: white;">Подтверждение соответствия продукции</a></li>
                                <li><a class="dropdown-item" href="{% url 'iso' %}" style="text-decoration: none;color: white;">ISO</a></li>
                                <li><a class="dropdown-item" href="{% url 'rad' %}" style="text-decoration: none;color: white;">Контроль радиационной обстановки и радиологические исследования</a></li>
                                <li><a class="dropdown-item" href="{% url 'center' %}" style="text-decoration: none;color: white;">Испытательный Центр</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'docs' %}" style="font-size: 18pt;margin-left: 50px;">Документы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'questions' %}" style="font-size: 18pt;margin-left: 50px;">Вопрос-ответ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="{% url 'contact' %}" style="font-size: 18pt;margin-left: 50px;">Контакты</a>
                        </li>
                        <li style="position:absolute;right:40px;margin-top: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor"
                                 class="bi bi-telephone-fill" viewBox="0 0 16 16" style="margin-bottom:5px;">
                                <path fill-rule="evenodd"
                                      d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            <a href="tel:+71231111111" style="font-size: 18pt;text-decoration: none;color: white;">+7 (123)
                                111-11-11</a>
                        </li>-->
                    </div>
                </ul>
            </div>
        </div>
    </nav>