<div class= "container-fluid p-3 text-center">
    <div class="row justify-content-end my-5">
        <div class="col-sm-4 col-3">
            <p class="fw-normal text-start" style="color: #5a5a5a;font-size: 5vmin;">Контакты</p>
            <p class="fw-normal text-start" style="color: #5a5a5a;font-size: 3vmin;">Телефон: +7 747 730 1311<br>
                Email: danil.ceregin@bk.ru<br>
                Адрес: 050000, РК,<br>
                г. Алматы ул. Майлина, 38 В<br>
            </p>
        </div>
    </div>
</div>